In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn  as sns
from matplotlib import pyplot as plt

In [ ]:
!pip install catboost

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/data/test.csv')
sub = pd.read_csv('/content/drive/MyDrive/data/test_submission.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
train = train.drop(columns='street' , axis = 1)
train = train.drop(columns='id' , axis = 1)
test = test.drop(columns='street' , axis = 1)

In [ ]:
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])

In [ ]:
train.head()

In [ ]:
train.info()

In [ ]:
from sklearn.preprocessing import StandardScaler , LabelEncoder , OneHotEncoder

## Разметка данных этажей

In [ ]:
all = { 'подвал, 1' : 1, 'подвал' : 0 ,'цоколь, 1' : 1 , '1,2,антресоль' : 2 , 'цоколь' : 0 , 'тех.этаж (6)' : 6 ,
       'Подвал' : 0 , 'Цоколь' : 0 , 'фактически на уровне 1 этажа' : 1 , '1,2,3' : 3 , '1, подвал' : 1 ,'1,2,3,4' : 4,
       '1,2' : 2 , '1,2,3,4,5' : 5 , '5 , мансарда ' : 5 , '1-й, подвал' : 1 , '1, подвал, антресоль' : 1 , 'мезонин' : 0,
       'подвал, 1-3' : 3 , '1 (Цокольный этаж)' : 1 , '3 , Мансарда (4 эт)' : 3 , 'подвал,1' : 1 , '1 , антресоль' : 1,
       '1-3' : 3 , 'мансарда (4эт)' : 4 , '1, 2.': 2 , 'подвал , 1 ' : 1 , '1, 2' : 2 ,
       '3, Мансарда (4эт)' : 3, '5, мансарда' : 5 , '1, антресоль' : 1, 'подвал, 1,2,3' : 3 ,
         '1 + подвал (без отделки)' : 1 , 'мансарда ' : 2 , '2,3' : 3 , '4, 5' : 5, '1-й, 2-й' : 2,
         '1 этаж, подвал' : 1 , '1, цоколь' : 1 , 'подвал, 1-7, техэтаж' : 7 ,'3 (антресоль)': 3,
         '1, 2, 3' : 3 , 'Цоколь, 1.2(мансарда)' : 2 , 'подвал, 3. 4 этаж' : 4 , 'подвал, 1-4 этаж' : 4,
         'подва, 1.2 этаж' : 2 , '2, 3' : 3 , '-1' : 0 , '1.2' : 2 , '7,8' : 8 , '1 этаж' : 1, '1-й' : 1,
         '3 этаж' : 3 , '4 этаж' : 4 , '5 этаж' : 5 ,'подвал,1,2,3,4,5' : 5 , 'подвал, цоколь, 1 этаж' :1,
         '3, мансарда' : 3 , 'Цоколь, 1,2(мансарда)' : 2 , '3, Мансарда (4 эт)' : 3 , 'мансарда' : 0,
       '-1.0' : 0 , '-2.0' : 0 , ' 1, 2, Антресоль'  : 2 , '3 этаж, мансарда (4 этаж)' : 3 , 
       'цокольный' : 0 , 'подвал, 1 и 4 этаж' : 4 , '5(мансарда)' : 5 , 'технический этаж,5,6' : 6,
       ' 1-2, подвальный' : 2 , '1, 2, 3, мансардный' : 3 , 'подвал, 1, 2, 3' : 3 , 
       '1,2,3, антресоль, технический этаж' : 3 , '3, 4' : 4 , '1-3 этажи, цоколь (188,4 кв.м), подвал (104 кв.м)' : 3,
       '1,2,3,4, подвал' : 4 , '2-й' : 2 , '1, 2 этаж'  : 2 , 'подвал, 1, 2' : 2 , '1-7' : 7 ,  '1 (по док-м цоколь)' : 1,
       '1,2,подвал ' :  2 , 'подвал, 2' : 2 , 'подвал,1,2,3' : 3 , 'подвал,1,2,3' : 3 , '2, 3, 4, тех.этаж' : 4 ,
       'цокольный, 1,2' : 2 , 'Техническое подполье' : 0 , 'цоколь, 1, 2,3,4,5,6' : 6 , '1,2,3 этаж, подвал' : 3
}

In [ ]:
train['floor'] = train['floor'].replace(all)
test['floor'] = test['floor'].replace(all)

In [ ]:
test['floor'].unique()

array(['1.0', 0, nan, 3, '2', '5.0', '4', '1', '5', 2, '2.0', '4.0', 4,
       '3', '3.0', '11.0', '9.0', '12.0', '0.0', 6, '6', '6.0', '13', 1,
       '7', '1,2 ', '14', '9', '8', '3,4', '10.0', 5, '8.0', '7.0', 7,
       '10', '13.0'], dtype=object)

In [ ]:
corr = train.corr()
corr[abs(corr['per_square_meter_price']) > 0.1]['per_square_meter_price']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
train['city'] = le.fit_transform(train['city'])
test['city'] = oh.fit_transform(test['city'])

In [ ]:
train.head()

          city floor     id  ...        date  realty_type  price_type
0        Пермь   NaN  COL_0  ...  2020-01-05           10           0
1       Шатура   NaN  COL_1  ...  2020-01-05           10           0
2    Ярославль   NaN  COL_2  ...  2020-01-05          110           0
3  Новокузнецк   NaN  COL_3  ...  2020-01-05          110           0
4       Москва   NaN  COL_4  ...  2020-01-05           10           0

[5 rows x 77 columns]

In [ ]:
train['region'] = le.fit_transform(train['region'])
test['region'] = le.fit_transform(test['region'])
train['osm_city_nearest_name'] = le.fit_transform(train['osm_city_nearest_name'])
test['osm_city_nearest_name'] = le.fit_transform(test['osm_city_nearest_name'])

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [ ]:
median = train['floor'].median()
train['floor'].fillna(median, inplace=True)

In [ ]:
train.isnull().sum()

city            0
floor           0
id              0
lat             0
lng             0
               ..
region          0
total_square    0
date            0
realty_type     0
price_type      0
Length: 76, dtype: int64

In [ ]:
data_approved = train[train.price_type == 1]
data_not_approved = train[train.price_type == 0]

In [ ]:
data_approved

In [ ]:
X = data_approved.drop(['per_square_meter_price'], axis=1)
y = data_approved.per_square_meter_price

In [ ]:
!pip install optuna

In [ ]:
import optuna

In [ ]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 0.2 , random_state = 42)

In [ ]:
cat_cols = ['city' , 'region' , 'osm_city_nearest_name']

In [ ]:
model = CatBoostRegressor(cat_features= cat_cols)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [ ]:
mean_absolute_error(y_test,y_pred)

20586.264471700688

In [ ]:
mean_absolute_error(y_test,y_lgb)

31191.83597193549

In [ ]:
cat = CatBoostRegressor(**study_cat.best_trial.params)

In [ ]:
from sklearn.ensemble import VotingRegressor

In [ ]:
vot = VotingRegressor(estimators=[ ('cat', cat), ('lgb', lgb)],n_jobs= -1)
vot.fit(X_train , y_train)
y_vot = vot.predict(X_test)

In [ ]:
vot.score(X_train , y_train) , vot.score(X_test , y_test)

(0.8655595088474123, 0.8106428863548287)

In [ ]:
key_cols =  ['id' , 'floor' , 'city' , 'region']

In [ ]:
y_final = model.predict(test.drop(key_cols,axis = 1))

In [ ]:
test['per_square_meter_price'] = pred_test

In [ ]:
test[['id' , 'per_square_meter_price']].to_csv('sub6.csv' , header = True , index = False)